<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" >

<body>
<main layout:fragment="content" role="main" class="flex-shrink-0">
<div class="container">
    <div class="jumbotron mt-3">
        <h1>약관</h1>
        <p class="lead">약관 내용~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
        <form action="step2" method="get">
            <div class="custom-control custom-checkbox">
                <input type="checkbox"  name="agree" value="true" class="custom-control-input" id="same">
                <label class="custom-control-label" for="same">약관 동의</label>
            </div>
            <input class="btn btn-lg btn-primary" type="submit" value="다음 단계" />
        </form>
    </div>
</div>
</main>
</body>
</html>