<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" >
<body>
<main layout:fragment="content" role="main" class="flex-shrink-0 .mt-5 .my-5">
    <div class="container">
        <h1>Error</h1>
        <h4 th:text="${exception.getMessage()}"></h4>

        <ul th:each="est : ${exception.getStackTrace()}">
            <li th:text="${est.toString()}"></li>
        </ul>
    </div>
</main>
</body>
</html>